figure{
    background-image: url(../img/coletivo.jpeg);

    height: 95vh;

    background-repeat:no-repeat;

    background-size: cover;

    background-position: center;

    
}

header{
    background-color: black;
}


.centrar {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

